/Backups
/config.py
/.idea/
Legacy/
/Lib/
/Scripts/
/phishtank_db.csv
/sample_data/
scratch/
/share/
/etc/
/ml_dataset.csv
/primary.csv
/pyvenv.cfg
sample_responses/
__pycache__/
*.ipynb
*.pkl
*.pyc
*.cfg
