body {
  background-image: url('background.jpg');
}

.dropbtn {
  background-color: #30404D;
  color: black;
  border: none;
  cursor: pointer;
}

.custom-dropdown,
.custom-dropdown:hover .dropdown-content, 
.dropdown-content a:hover,
.VirtualizedSelectOption,
#source_dropdown .VirtualizedSelectFocusedOption {
  background-color: #30404D;
}

.custom-dropdown, 
.custom-dropdown .Select--single, 
.custom-dropdown .Select--single .Select-value {
  color: black;
  background: #7f99ad;
  border-color: #7f99ad;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(48,46,77,0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
}

.custom-dropdown:hover .dropbtn, 
.VirtualizedSelectOption,
#source_dropdown .VirtualizedSelectFocusedOption {
  color: white;
}